{{- range resources -}}
<meta name="kriti:resources" content="{{ .Name }}">
{{- end -}}

{{- with resources.Get "**/favicon.ico" -}}
  <link rel="shortcut icon" href="{{ .RelPermalink | relURL }}" />
{{- end -}}

{{- with resources.Get "**/favicon.svg" -}}
  <link rel="icon" type="image/svg+xml" href="{{ .RelPermalink | relURL }}" />
{{- end -}}

{{- with resources.Get "**/apple-touch-icon.png" -}}
  <link rel="apple-touch-icon" sizes="{{ .Height }}x{{ .Width }}" href="{{ .RelPermalink | relURL }}" />
{{- else -}}
  {{- with (resources.ByType "image").GetMatch "**/favicon.{jpeg|jpg|png}" -}}
    {{- with .Resize "180x180 png" -}}
      <link rel="apple-touch-icon" sizes="180x180" href="{{ .RelPermalink | relURL }}" />
    {{- end -}}
  {{- end -}}
{{- end -}}

{{- with resources.Get "**/favicon-96x96.png" -}}
  <link rel="icon" type="{{ .MediaType.Type }}" sizes="96x96" href="{{ .RelPermalink | relURL }}" />
{{- else -}}
  {{- with (resources.ByType "image").GetMatch "**/favicon.{jpeg|jpg|png}" -}}
    {{- with .Resize "96x96 png" -}}
      <link rel="icon" type="{{ .MediaType.Type }}" sizes="96x96" href="{{ .RelPermalink | relURL }}" />
    {{- end -}}
  {{- end -}}
{{- end -}}

{{- with resources.Get "**/site.webmanifest" }}
  <link rel="manifest" href="{{ .RelPermalink | relURL}}" />
{{- end -}}
